<h1>Simple Currency Converter</h1>


<!-- Section for converting amout from specified currency -->
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="amount">Amount From:</label>
      <input type="number" class=' form-control' [(ngModel)]='amountFrom'>
    </div>
    <select name="convertFrom" [(ngModel)]='convertFrom' (change)='getUserInput($event, amountFrom)'>
      <option *ngFor='let currency of currencies' [value]='currency.currencySymbol'>{{currency.currencySymbol}}</option>
    </select>

  </div>

  <!-- Section for converting amout to specified currency -->
  <div class="col-md-6">
    <div class="form-group">
      <label for="amount">Amount To:</label>
      <input type="number" class=' form-control' [(ngModel)]='amountTo'>
    </div>
    <select name="convertTo" [(ngModel)]='convertTo' (change)='getUserInput($event, amountTo)'>
      <option *ngFor='let currency of currencies' [value]='currency.currencySymbol'>
        {{currency.currencySymbol}}
      </option>
    </select>
  </div>
  <p *ngFor='let convert of converted'>Hi</p>
</div>
